body {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    float: none;
  }

  .mainHeader {
    margin-top: 0;
      height: 60px;
      background-color: #94c8c0;
  }

  .pageElement {
    margin-left: 20px;
    margin-bottom: 20px;
    float: none;
  }

  h1 {
    margin-left: 20px;
    vertical-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      font-size: 30px;
  }

  h2 {
    margin-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: #151616;
      font-size: 20px;
  }

  h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: #2c2f2f;
      font-size: 15px;
      font-style: italic;
  }

  p {
      font-family: Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 12px;
      font-weight: lighter;
  }

  img {
      width: 25%;
      height: auto;
  }

 /* .imageElement {
    float: left;
  }
  */

  a {
    font-family: Arial, Helvetica, sans-serif;
      color: #24584b;
      text-decoration: underline;
      font-size: 12px;
  }
